body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eaeaff; /* Color azul de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.center-container {
    text-align: center;
    color: #000;
}

.center-container h1 {
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo img{
    height: 200px;
}

.icono img {
    width: 60px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background: linear-gradient(to right, #b2b1ff, #8d8dbc);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    outline: none;
}

button {
    background: #6563ff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(to right, #333, #555);
}


.campo-letra,
.campo-palabra {
    background: linear-gradient(to right, #b2b1ff, #8d8dbc);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    margin: 10px -65px;
    width: 150%;
    
}

.campo-palabra{
    height: 70px;
    font-size: 30px;
}


.botones {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.botones button {
    padding: 10px 25px;
}

.botones img{
    height: 20px;
}

nav {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    width: 90%;
    height: 150px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #eaeaff;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: una sombra sutil */
}


nav img{
    height: 150px;
}

nav a img{
    height: 30px;
}
